.headerContainer {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: var(--header-height);
    
}

.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    height: fit-content;
}

/* Mobile */
@media screen and (max-width: 768px) {
    .headerContainer {
        
    }

    .brand {
        display: contents;
    }

    .header {
        font-size: 1.9rem;
    }
}

/* Desktop */
@media screen and (min-width: 769px) {
    .headerContainer {
        
    }

    .header {
        font-size: 2.5rem;
    }
}





