a {
    color: white !important;
    text-decoration: none !important;
}

.header {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    height: 120px;
    place-items: center;
    align-items: center;
    background-color: var(--primary-color);
}

/* Linkedin and Github */
.header-links-container {
    display: grid;
    grid-column-gap: 4px;
    grid-row-gap: 8px;
}

.header-link i {
    position: absolute;
}
/* ------------------- */

.header-title {
    padding: 0.1em 0.2em;
}

.btn-dropdown {
    position: relative;
    border: none;
    font-size: 25px;
    padding: 0.2em 0.2em;
    line-height: 0;
    border-radius: 5px;
}

/* Dropdown Collapsed */
.btn-dropdown[aria-expanded="false"] {
    background: none;
    color: white;
    transition: 0.125s ease-in-out all;
}

/* Dropdown Expanded */
.btn-dropdown[aria-expanded="true"] {
    background: white;
    color: var(--primary-color);
    transition: 0.125s ease-in-out all;
}

/* Dropdown Links */
#navbar-links {
    position: absolute;
    top: 120px;
}

.list-group-item {
    background-color: var(--tertiary-color) !important;
    border-top: none !important;
    z-index: 100;
}

.list-group-item span {
    color: white;
}

/* Desktop */
@media screen and (min-width: 551px) {
    .header-links-container {
        grid-template-columns: 24px 24px;
        height: 24px;
    }

    .header-link i {
        font-size: 20px;
        transition: 0.125s ease;
    }

    .header-link i:hover {
        font-size: 24px;
        color: var(--hover-color);
        transform: translate(-2px, -3px);
        transition: 0.125s ease;
    }

    .header-title {
        font-size: 50px;
    }

    #navbar-links {
        right: 5px;
    }
}

/* Mobile */
@media screen and (max-width: 550px) {
    .header-links-container {
        grid-template-rows: 24px 24px;
        width: 24px;
        margin-left: 20px;
    }

    .header-link i {
        font-size: 24px;
    }

    .header-title {
        font-size: 40px;
    }

    .btn-dropdown {
        right: 16px;
    }

    #navbar-links {
        right: 0;
    }
}