a {
    color: white !important; 
    text-decoration: none !important;
}

.header {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: var(--primary-color);
    color: white;
    z-index: 100;
}

.header-links-container {
    display: grid;
    margin-left: 20px;
}

.header-link i {
    position: absolute;
    cursor: pointer;
    line-height: 1em;
    margin: auto;
    text-align: center;
}

.header-title {
    text-align: center;
    cursor: pointer;
}

.btn-dropdown {
    position: absolute;
    overflow: hidden;
    background: none;
    border: none;
    color: white;
    font-size: 32px;
    font-weight: bolder;
    transition: 0.125s ease all;
    top: 60px;
}

.btn-dropdown[aria-expanded="true"] {
    color: var(--primary-color);
    background-color: white;
    padding: 0.1em 0.02em;
    border-radius: 5px;
    transition: 0.125s ease all;
}

.list-group-item {
    background: var(--tertiary-color) !important;
    border-radius: 0 !important;
    border-top: none !important;
    border-right: none !important;
    width: 120px;
}

.btn-dropdown-item{
    background: none;
    border: none;
    text-align: left;
    color: white;
}

#navbar-links {
    position: absolute;
    top: 120px;
}

@media screen and (min-width: 551px) {
    .header-links-container {
        grid-template-columns: 24px 24px;
        grid-template-rows: 24px;
        grid-gap: 4px;
        align-items: center;
    }

    .header-link i {
        font-size: 20px;
        transform: translate(0, -10px);
        transition: 0.5s ease all;
    }

    .header-link i:hover {
        color: #fb8b24;
        font-size: 24px;
        transform: translate(-1px, -12px);
        transition: 0.5s ease all;
    }

    .header-title {
        font-size: 50px;
    }

    .btn-dropdown {

    }

    #navbar-links {
        right: 5px;
    }
}

@media screen and (max-width: 550px) {
    .header-links-container {
        grid-template-columns: 24px;
        grid-template-rows: 24px 24px;
        grid-row-gap: 12px;
        align-items: normal;
    }

    .header-link i {
        font-size: 24px;
    }

    .header-title {
        font-size: 40px;
    }

    .btn-dropdown{

    }

    #navbar-links {
        right: 0;
    }
}

