:root {
    --header-height: 10vh;
    --primary-color: #94cad8;
    --secondary-color: #f0f0f0;
    --hover-color: #fe6f5e;
    --hover-color2: #fb8b24;
    --cool-color: #d87979;
    
    font-size: 16px;
    font-family: Arial, sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* #00072D
#5E738F
#BBDEF0 */