.container {
    justify-items: center;
    align-items: center;
}

.title {
    grid-area: "ti";
    /* text-align: center; */
    font-family: monospace;
    width: fit-content;
    margin: auto;
    font-size: minmax(10px, 3vw);
}
